<% unless @product_properties.empty? %>
  <span class="title"><a href="#"><%= Spree.t('properties')%></a></span>
  <ul style="display: block;" class="tabblad">
    <li>
      <div class="tabinhoud" id="product-properties">
        <ul>
          <% @product_properties.each do |product_property| %>
            <li>
              <b><%= product_property.property.presentation %></b>
              <i><%= product_property.value %></i>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  </ul>
<% end %>
