<ul>
  <li class="home"><%= link_to image_tag("frontend/home.png", alt: "Home"), spree.root_path %></li>
  <li><a href='/about'>Home</li>
  <li><a href="/products">Productcategorie</a></li>
  <li><a href="/shops">Winkels</a>
  <div id="foldoutmenu-2911" class="foldoutmenu">
  <div id="cats">

  <ul class="subcats">
    <li>
      <h3><a href="">Dames</a></h3>
      <ul>
        <li><h4><a href="#/products">New Arrivals</a></h4></li>
        <li><h4><a href="#/products">Sale</a></h4></li>
        <li><h4><a href="#/products">Schoenen</a></h4></li>
        <li><h4><a href="#/products">Jassen</a></h4></li>
        <li><h4><a href="#/products">Jurken</a></h4></li>
        <li><h4><a href="#/products">Tassen</a></h4></li>
        <li><h4><a href="#/products">Truien & Vesten</a></h4></li>
        <li><h4><a href="#/products">Tops</a></h4></li>
        <li><h4><a href="#/products">Jeans</a></h4></li>
        <li><h4><a href="#/products">Rokken</a></h4></li>
        <li><h4><a href="#/products">Broeken</a></h4></li>
        <li><h4><a href="#/products">Lingerie</a></h4></li>
      </ul>
    </li>
  </ul>

  <ul class="subcats">
    <li>
      <h3><a href="#/products">Heren</a></h3>
      <ul>
      <li><h4><a href="#/products">Sale</a></h4></li>
      <li><h4><a href="#/products">Schoenen</a></h4></li>
      <li><h4><a href="#/products">Jassen</a></h4></li>
      <li><h4><a href="#/products">Jurken</a></h4></li>
      <li><h4><a href="#/products">Tassen</a></h4></li>
      <li><h4><a href="#/products">Truien & Vesten</a></h4></li>
      <li><h4><a href="#/products">Tops</a></h4></li>
      <li><h4><a href="#/products">Jeans</a></h4></li>
      <li><h4><a href="#/products">Rokken</a></h4></li>
      <li><h4><a href="#/products">Broeken</a></h4></li>
      </ul>
    </li>
  </ul>

  <ul class="subcats">
    <li>
    <h3><a href="#/products">Kinderen</a></h3>
    <ul>
      <li><h4><a href="#/products">Sale</a></h4></li>
      <li><h4><a href="#/products">Schoenen</a></h4></li>
      <li><h4><a href="#/products">Jassen</a></h4></li>
      <li><h4><a href="#/products">Jurken</a></h4></li>
      <li><h4><a href="#/products">Tassen</a></h4></li>
      <li><h4><a href="#/products">Truien & Vesten</a></h4></li>
      <li><h4><a href="#/products">Tops</a></h4></li>
      <li><h4><a href="#/products">Jeans</a></h4></li>
      <li><h4><a href="#/products">Rokken</a></h4></li>
      <li><h4><a href="#/products">Broeken</a></h4></li>
    </ul>
    </li>
  </ul>

  <ul class="subcats">
    <li>
    <h3><a href="#/products">Accessoires</a></h3>
      <ul>
        <li><h4><a href="#/products">Sale</a></h4></li>
        <li><h4><a href="#/products">Schoenen</a></h4></li>
        <li><h4><a href="#/products">Jassen</a></h4></li>
        <li><h4><a href="#/products">Jurken</a></h4></li>
        <li><h4><a href="#/products">Tassen</a></h4></li>
        <li><h4><a href="#/products">Truien & Vesten</a></h4></li>
        <li><h4><a href="#/products">Tops</a></h4></li>
        <li><h4><a href="#/products">Jeans</a></h4></li>
        <li><h4><a href="#/products">Rokken</a></h4></li>
        <li><h4><a href="#/products">Broeken</a></h4></li>
      </ul>
    </li>
  </ul>

</div>
<div class="shadow"></div>
</div>

</li>
<li><a href="/brands">MERKEN</a></li>
</ul>
