<ul>
  <li class="home"><%= link_to image_tag("frontend/home.png", alt: "Home"), spree.root_path %></li>
  <li><a href='/'>Home</li>
  <li><a href="/products">Productcategorie</a>
  <div id="foldoutmenu-2911" class="foldoutmenu">
  <div id="cats">
    <ul class="subcats">
      <li>
        <h3><a href="/t/categories/dames">Dames</a></h3>
        <ul>
          <li><h4><a href="/t/categories/dames/new">New Arrivals</a></h4></li>
          <li><h4><a href="/t/categories/dames/sale">Sale</a></h4></li>
          <li><h4><a href="/t/categories/dames/schoenen">Schoenen</a></h4></li>
          <li><h4><a href="/t/categories/dames/jassen">Jassen</a></h4></li>
          <li><h4><a href="/t/categories/dames/jurken">Jurken</a></h4></li>
          <li><h4><a href="/t/categories/dames/tassen">Tassen</a></h4></li>
          <li><h4><a href="/t/categories/dames/truien">Truien & Vesten</a></h4></li>
          <li><h4><a href="/t/categories/dames/tops">Tops</a></h4></li>
          <li><h4><a href="/t/categories/dames/jeans">Jeans</a></h4></li>
          <li><h4><a href="/t/categories/dames/rokken">Rokken</a></h4></li>
          <li><h4><a href="/t/categories/dames/broeken">Broeken</a></h4></li>
          <li><h4><a href="/t/categories/dames/lingerie">Lingerie</a></h4></li>
        </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
        <h3><a href="/t/categories/heren">Heren</a></h3>
        <ul>
        <li><h4><a href="/t/categories/heren/sale">Sale</a></h4></li>
        <li><h4><a href="/t/categories/heren/schoenen">Schoenen</a></h4></li>
        <li><h4><a href="/t/categories/heren/jassen">Jassen</a></h4></li>
        <li><h4><a href="/t/categories/heren/jurken">Jurken</a></h4></li>
        <li><h4><a href="/t/categories/heren/tassen">Tassen</a></h4></li>
        <li><h4><a href="/t/categories/heren/truien">Truien & Vesten</a></h4></li>
        <li><h4><a href="/t/categories/heren/tops">Tops</a></h4></li>
        <li><h4><a href="/t/categories/heren/jeans">Jeans</a></h4></li>
        <li><h4><a href="/t/categories/heren/rokken">Rokken</a></h4></li>
        <li><h4><a href="/t/categories/heren/broeken">Broeken</a></h4></li>
        </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
      <h3><a href="/t/categories/kinderen">Kinderen</a></h3>
      <ul>
        <li><h4><a href="/t/categories/kinderen/sale">Sale</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/schoenen">Schoenen</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/jassen">Jassen</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/jurken">Jurken</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/tassen">Tassen</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/truien">Truien & Vesten</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/tops">Tops</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/jeans">Jeans</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/rokken">Rokken</a></h4></li>
        <li><h4><a href="/t/categories/kinderen/broeken">Broeken</a></h4></li>
      </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
      <h3><a href="/t/categories/accessoires">Accessoires</a></h3>
        <ul>
          <li><h4><a href="/t/categories/accessoires/sale">Sale</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/schoenen">Schoenen</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/jassen">Jassen</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/jurken">Jurken</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/tassen">Tassen</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/truien">Truien & Vesten</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/tops">Tops</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/jeans">Jeans</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/rokken">Rokken</a></h4></li>
          <li><h4><a href="/t/categories/accessoires/broeken">Broeken</a></h4></li>
        </ul>
      </li>
    </ul>
  </div>
<div class="shadow"></div>
</div>

</li>
<li><a href="/shops">Winkels</a></li>
<li><a href="/brands">MERKEN</a></li>
</ul>
