<ul>
  <li class="home"><%= link_to image_tag("frontend/home.png", alt: "Home"), spree.root_path %></li>
  <li><a href='/'>Home</li>
  <li><a href="/products">Productcategorie</a>
  <div id="foldoutmenu-2911" class="foldoutmenu">
  <div id="cats">
    <ul class="subcats">
      <li>
        <h3><a href="">Dames</a></h3>
        <ul>
          <li><h4><a href="/t/categories/new">New Arrivals</a></h4></li>
          <li><h4><a href="/t/categories/sale">Sale</a></h4></li>
          <li><h4><a href="/t/categories/schoenen">Schoenen</a></h4></li>
          <li><h4><a href="/t/categories/jassen">Jassen</a></h4></li>
          <li><h4><a href="/t/categories/jurken">Jurken</a></h4></li>
          <li><h4><a href="/t/categories/tassen">Tassen</a></h4></li>
          <li><h4><a href="/t/categories/truien">Truien & Vesten</a></h4></li>
          <li><h4><a href="/t/categories/tops">Tops</a></h4></li>
          <li><h4><a href="/t/categories/jeans">Jeans</a></h4></li>
          <li><h4><a href="/t/categories/rokken">Rokken</a></h4></li>
          <li><h4><a href="/t/categories/broeken">Broeken</a></h4></li>
          <li><h4><a href="/t/categories/lingerie">Lingerie</a></h4></li>
        </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
        <h3><a href="/t/categories/heren">Heren</a></h3>
        <ul>
        <li><h4><a href="/t/categories/sale">Sale</a></h4></li>
        <li><h4><a href="/t/categories/schoenen">Schoenen</a></h4></li>
        <li><h4><a href="/t/categories/jassen">Jassen</a></h4></li>
        <li><h4><a href="/t/categories/jurken">Jurken</a></h4></li>
        <li><h4><a href="/t/categories/tassen">Tassen</a></h4></li>
        <li><h4><a href="/t/categories/truien">Truien & Vesten</a></h4></li>
        <li><h4><a href="/t/categories/tops">Tops</a></h4></li>
        <li><h4><a href="/t/categories/jeans">Jeans</a></h4></li>
        <li><h4><a href="/t/categories/rokken">Rokken</a></h4></li>
        <li><h4><a href="/t/categories/broeken">Broeken</a></h4></li>
        </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
      <h3><a href="/t/categories/kinderen">Kinderen</a></h3>
      <ul>
        <li><h4><a href="/t/categories/sale">Sale</a></h4></li>
        <li><h4><a href="/t/categories/schoenen">Schoenen</a></h4></li>
        <li><h4><a href="/t/categories/jassen">Jassen</a></h4></li>
        <li><h4><a href="/t/categories/jurken">Jurken</a></h4></li>
        <li><h4><a href="/t/categories/tassen">Tassen</a></h4></li>
        <li><h4><a href="/t/categories/truien">Truien & Vesten</a></h4></li>
        <li><h4><a href="/t/categories/tops">Tops</a></h4></li>
        <li><h4><a href="/t/categories/jeans">Jeans</a></h4></li>
        <li><h4><a href="/t/categories/rokken">Rokken</a></h4></li>
        <li><h4><a href="/t/categories/broeken">Broeken</a></h4></li>
      </ul>
      </li>
    </ul>

    <ul class="subcats">
      <li>
      <h3><a href="/t/categories/accessoires">Accessoires</a></h3>
        <ul>
          <li><h4><a href="/t/categories/sale">Sale</a></h4></li>
          <li><h4><a href="/t/categories/schoenen">Schoenen</a></h4></li>
          <li><h4><a href="/t/categories/jassen">Jassen</a></h4></li>
          <li><h4><a href="/t/categories/jurken">Jurken</a></h4></li>
          <li><h4><a href="/t/categories/tassen">Tassen</a></h4></li>
          <li><h4><a href="/t/categories/truien">Truien & Vesten</a></h4></li>
          <li><h4><a href="/t/categories/tops">Tops</a></h4></li>
          <li><h4><a href="/t/categories/jeans">Jeans</a></h4></li>
          <li><h4><a href="/t/categories/rokken">Rokken</a></h4></li>
          <li><h4><a href="/t/categories/broeken">Broeken</a></h4></li>
        </ul>
      </li>
    </ul>
  </div>
<div class="shadow"></div>
</div>

</li>
<li><a href="/shops">Winkels</a></li>
<li><a href="/brands">MERKEN</a></li>
</ul>
