<div id='minicart-outer'>
  <%= link_to image_tag('frontend/cart.png', class: 'cart', alt: 'cart'), '#' %>
  <a class="bag-items minicart" rel="nofollow" href="/">
    <span class='items'>0</span> ITEMS, TOTAAL &euro;<span class='price'>0,00</span>
  </a>

  <div id='minicart_popup'>
    <div class="schuif"></div>
    <ul>
    </ul>
    <div class="minicart_popup_total">
      Totaalprijs: <strong><span class="currency">&euro;</span><span class='price'></span></strong>
    </div>
    <div class="minicart_popup_bottom">
      <a href="/checkout"><%=t 'minicart.checkout' %><%= image_tag 'frontend/cart_white.png', alt: 'Checkout' %></a>
    </div>
  </div>
</div>
