<h4>Prijs</h4>

<%= form_tag '', :method => :get, :id => "pricefilter" do %>
  <div class="priceblock">
    <input type='hidden' name='search[price_range_any][0]'/>
    <input type='hidden' name='search[price_range_any][1]'/>
    <div class="noUiSlider"></div>
    <input id="min-euro" type="text"/>
    <input id="max-euro" type="text"/>

    <div class="clearfix"></div>
    <br/>
    <div class="filter-reset">
      <%= image_tag('frontend/reset.png') %>
      <%= link_to 'Reset filter', '/products', rel: 'no-follow' %>
    </div>
  </div>
<% end %>
