
<div class="breadcrumb">
  <a href="/">Home</a>&nbsp;&raquo;&nbsp;Shops
</div>
<div class='content'>
  <% if @suppliers.any? %>
    <ul class="articles">
      <% @suppliers.each do |supplier| %>
        <%= render :partial => 'suppliers/supplier', :locals => { :supplier => supplier } %>
      <% end %>
    </ul>
  <% end %>
</div>
